#header {
    background-color: #ff7f7f57;
    text-align: center;
    padding: 10px;
}

#recetas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color:rgb(0, 255, 17)
}

#pizza-receta {
    border: 2px solid #333333a1;
    padding: 10px 3vw 1rem;
    background-color: rgba(255, 255, 224, 0.736);
}

.descripcion-receta {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.394);
}

#titulo-receta {
    font-size: 2em;
    color: rgb(255, 99, 71);
}

.menu-recetas {
    font-size: 1.5em;
    font-weight: bold;
}

#titulo-receta::after {
    content: " 🍕";
}

#footer {
    text-align: center;
    background-color: #33333359;
    padding: 10px;
    color: white;
}


#footer ul {
    padding: 10px;
    margin: 10px;
    background-color: rgba(183, 255, 161, 0.506);
    border: 2px solid #00000031;
    width: 50vw;
}


#footer ul li a {
    color: rgba(168, 58, 39, 0.421);
    font-size: 1.2rem;
}

#cajon_bajo {
    width: 50vw; /* Ajusta el ancho a tu gusto */
    margin: 0 auto; /* Centra horizontalmente */
}

#copyright {
    text-align: center;
}