
a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: rgb(0, 68, 255);
    text-decoration: underline;
}

#recetas > nav {
    font-weight: bold;
}

a ~ a {
    margin-left: 10px;
}

a + a {
    font-size: 1.2em;
}

#footer ul li {
    border: 2px solid #333;
}

#footer a[href*="wikipedia"] {
    color: blue;
}

#footer a[href*="karlos"] {
    color: rgb(234, 255, 0);
}

#footer a[href*="wombat"] {
    color: rgb(255, 0, 0);
}